markitdown[all]
requests
beautifulsoup4
pymupdf
nltk
langchain_openai
langchain_ollama
python-dotenv
ragatouille
aiohttp
psutil
langchain_milvus
markitdown[all]
langchain_huggingface
langchain
dspy
wikipedia
faiss-cpu
sentence-transformers
streamlit
python-docx